aeropuertos_inventados.csv
aeropuertos.csv
vuelos.csv
vuelos_inventados.csv
__pycache__/biblioteca.cpython-313.pyc
__pycache__/cola.cpython-313.pyc
__pycache__/grafo.cpython-313.pyc
__pycache__/heap.cpython-313.pyc
__pycache__/utils.cpython-313.pyc
ideas.txt
